.general {
    width: 100%;
    padding: 1%;
}

.display_info {
    display: flex;
    flex-direction: row;
    /* justify-content:space-between; */
    justify-content:flex-start;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1%;
}